*.*
!README.md

#code
!.gitignore
!*.c
!*.h
!*.java

#doc
!*.pdf
!*.doc
!*.xls
!*.docx
!*.xlsx

#tools
!*.zip
!*.7z
!*.rar
!*.txt

#Keil
!**/Listings/*.*
**/Listings/*.lst
!**/RTE/*.*
!/Objects
!*.uvprojx