<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>{{.title}}-库存查询</title>
        <!-- 引入 WeUI -->
        <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/dna.js/1.2/dna.css"/>
        <style type="text/css">
        	.weui-media-box__desc{font-size: 14px}
		  	.weui-btn_primary{background-color: #009291}
		  	.weui-btn_primary:not(.weui-btn_disabled):active{color:hsla(0,0%,100%,.6);background-color:#008281}
		  	.weui-vcode-btn{height: 25px;line-height: 25px}
        </style>
    </head>
    <body>
		<div class="header" style="padding: 40px;background-color: #009291;color: #fff;">
			<div style="font:800 32px '微软雅黑';border-bottom:2px solid #fff">赛洋机电&nbsp;&nbsp;</div>
			<div style="display: inline-block;font:italic 26px '楷体';margin-left: 50px">用心为您服务</div>
		</div>
		<div class="weui-cells__title">操作者：{{.name}}</div>
		<div class="weui-cells__title">数据更新时间：{{.updatetime}}</div>
		<div class="weui-cells weui-cells_form">
		    <div class="weui-cell">
		        <div class="weui-cell__hd"><label class="weui-label">物品编码</label></div>
		        <div class="weui-cell__bd">
		            <input id="inp_fnumber" class="weui-input" type="text" pattern="([0-9]|.)*" placeholder="K3物料编号，精确匹配"/>
		        </div>
		        <div class="weui-cell__ft">
                    <button id="btn_scan" class="weui-vcode-btn"><img src="/scan.png" height="25px"/></button>
                </div>
		    </div>
		    <div class="weui-cell">
		        <div class="weui-cell__hd"><label class="weui-label">物料名称</label></div>
		        <div class="weui-cell__bd">
		            <input id="inp_fname" class="weui-input" type="text" pattern="([0-9]|.)*" placeholder="K3物料名称，模糊匹配"/>
		        </div>
		    </div>
		    <div class="weui-cell">
		        <div class="weui-cell__hd"><label class="weui-label">仓库名称</label></div>
		        <div class="weui-cell__bd">
		            <input id="inp_fstockname" class="weui-input" type="text" pattern="([0-9]|.)*" placeholder="K3仓库名称，模糊匹配"/>
		        </div>
		    </div>
		</div>
		
        <a id="btn_search" style="margin:5px" href="javascript:;" class="weui-btn weui-btn_primary">查询</a>

        <div id="container" class="dna-template">
			<div class="weui-panel">
			    <div class="weui-panel__bd">
			        <div class="weui-media-box weui-media-box_text">
			            <h4 class="weui-media-box__title">~~fname~~</h4>
						<p class="weui-media-box__desc">~~fnumber~~</p>
			            <p class="weui-media-box__desc">库存：<b style="color:#000"><span>~~fqty~~</span><span>~~funitname~~</span>&nbsp;|&nbsp;<span>~~fstockname~~</span></b></p>
						<p class="weui-media-box__desc">
							型号：<span>~~fmodel~~</span>
						</p>			           
			        </div>
			    </div>
			</div>
        </div>

        <div class="weui-footer">
		    <p class="weui-footer__text" style="margin-top: 20px">Copyright &copy; 2001-2017 saiyang.com.cn</p>
		</div>

        <div id="div_loadingToast" style="display:none;">
		    <div class="weui-mask_transparent"></div>
		    <div class="weui-toast">
		        <i class="weui-loading weui-icon_toast"></i>
		        <p class="weui-toast__content">数据加载中</p>
		    </div>
		</div>
        <script type="text/javascript" src="https://ojtkyre9w.qnssl.com/resources/js/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/dna.js/1.2/dna.min.js"></script>
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
        <script type="text/javascript">
        	$(function(){
        		$("#btn_search").click(function(){
        			$.ajax({
			            type : "get",
			            url  : "/api/getStoreData",
			            data : {"fnumber": $("#inp_fnumber").val(), "fname": $("#inp_fname").val(), "fstockname": $("#inp_fstockname").val()},
						beforeSend	: function(){
							$("#div_loadingToast").show();
						},
						success : function(results){
							/* 处理数组，迭代添加dom模型 */	
							dna.empty('container', { fade: false });							
							dna.clone('container', results);

							$("#div_loadingToast").hide();
						},
						timeout: 5000,
			            error: function(XMLHttpRequest){
			            	$("#div_loadingToast").hide();
			            	alert(XMLHttpRequest.responseText);
			            },
			            dataType : "json"
			         });
        		});

        		$("#btn_scan").click(function(){
        			wx.scanQRCode({
					    needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
					    scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
					    success: function (res) {
					    	var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
					    	$("#inp_fnumber").val(result.split(",",2)[1]);
						}
					});
        		});
        	});
        	
        	wx.config({
			    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
			    appId: 'wxf35eb6c638780fbf', // 必填，公众号的唯一标识
			    timestamp: '{{.timestamp}}', // 必填，生成签名的时间戳
			    nonceStr: '{{.nonceStr}}', // 必填，生成签名的随机串
			    signature: '{{.signature}}',// 必填，签名，见附录1
			    jsApiList: ['scanQRCode'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
			});

			wx.ready(function(){
				//alert("WxJSAPI loaded ok");
			});

			wx.error(function(res){
				alert("WxJSAPI loaded error" + res);
			});


        </script>
    </body>
</html>
